<launch>

    <arg name="config_path" default = "$(find feature_tracker)/../config/kitti.yaml" />
	<arg name="vins_path" default = "$(find feature_tracker)/../config/../" />

    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>
    
    <node name="odometry_node" pkg="odometry" type="odometry_node" output="screen">
        <param name="config_file" type="string" value="$(arg config_path)" />
    </node>
    
    <node pkg="odometry" type="path_publisher_node" name="path_publisher_node"  output="screen" /> 
</launch>
